:root {
  --Primarybg: #27AE35;
  --container-width: 1280px;
  --Banner-height: 444px;
  --Menu-items-count: 9;
  --Page-bg: #D4E9D3;
}

body {
	background: #D4E9D3;
}
#menu1 .table {
    width: 100% !important;
}

#review .table, #review div, #review table {
    width: 100% !important;
}

.author__item-img img {
	width: 80px;
    border-radius: 100px;
}
.strategic-partner{
	border-radius: 5px
}
.ptservice__main-title {
    font-weight: 500 !important;
}

.book__box {
    height: 100% !important;
    margin: 0px !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1 !important;
    cursor: pointer;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        transition: opacity 0.3s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

.toast-title {
    color: white !important;
}

.brcrumb__info-title {
    font-size: 25px !important;
}

.item-img__sale {
    text-align: center;
    font-size: 11px;
    text-align: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff0000;
    right: -15px;
    top: -10px;
    color: #ffffff;
    font-size: 12px;
    box-shadow: 0px 0px 13px 3px #fff900;
    border: 1.5px solid #fff;
    font-weight: bold;
}

.contact {
    width: 46px;
    position: fixed;
    bottom: 150px;
    right: 0;
    list-style: none;
    padding: 4px;
    background: #fff;
    box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

    .contact li {
        background: #f4f4f8;
    }

        .contact li:first-child {
            margin-bottom: 4px;
        }

    .contact .contact-item {
        padding: 5px;
    }

.contact-item {
    position: relative;
    display: inline-block;
}

    .contact-item .tooltiptext {
        visibility: hidden;
        width: max-content;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        right: 45px;
        padding: 5px 8px;
        font-size: 13px;
    }

    .contact-item:hover .tooltiptext {
        visibility: visible;
    }
.contact-banner {
    position: fixed;
    bottom: 5px;
    left: 5px;
    padding: 5px;
    box-shadow: 0 0 50px 0 rgb(82 63 105 / 15%);
    z-index: 1;
    border-radius: 5px;
    max-width: 390px;
}

.banner-close-wrapper {
    position: absolute;
    right: 8px;
    top: 8px;
}

.chat-close-button {
    background-color: rgba(137,146,164,.7);
    color: #fff;
    border: none;
    outline: none;
    height: 28px;
    width: 40px;
    padding: 0 12px 4px;
    font-size: 16px;
    border-radius: 20px;
}
.copy_text
{
    z-index: 1 !important
}
.yellow .hotline__icon svg path, .account svg path, .pagination__list-btn svg path, .menu__component .menu__my__book .my__book__icon svg path {
    fill: #27AE34;
}
.section__header .header__wrap .header__info .header__hotline .hotline__icon svg path {
	fill: #4DA1EE;
}

.section__header .header__wrap {
    height: 72px;
}
.rounded-circle {
    padding: 30px;
}
.detail__list {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}
.footer {margin-top: 20px;R}
.printer-list-content {
    padding-top: 0!important;
}
ul.submenu__list {margin-top: 20px;}
.book__content-content {
    padding: 20px 0;
}

.section > .container > .row > .col-lg-9.col-sm-12 > .mb-4 .book__content .book__content-title h3::before {
    display: block;
    content: url(../img/sachnoibat.svg);
    float: left;
    text-align: center;
    text-indent: 0;
    margin: -12px 0px -10px -15px!important;
    padding: 14px 0 7px;
    width: 36px;
    height: 48px;
}

.section > .container > .row > .col-lg-9.col-sm-12 > .mb-4:nth-child(3) .book__content .book__content-title h3:before {
	content: url(../img/sachkhuyenmai.svg);
}
.menu__component .menu__category .dropdown-menu .category__link {
	padding: 0px 0;
}
.author-box__section, .service-box__section {
	display: none;
}
.bank .method .icon img {
    width: 100%!important;
    height: inherit!important;
}
.bank .method .icon {
    margin-right: 20px;
}

.section-chi-tiet-sach .list-cart li.li-item {
    flex: 0 0 calc(100% / 2 - 15px);
    max-width: calc(100% / 2 - 15px);
}
@media only screen and (min-width:1024px) {
    .detail .detail__group {
        margin-bottom: 0;
    }
}
.detail .detail__group img:not(.initial) {
        margin-bottom: 0!important;
}
.home-slider__item {
    height: 310px;
}
.menu__component {
    background: #27AE34;
}
.menu__component .menu__category.active, .menu__component .menu__category:hover {
    background: #F9E45E;
}
.section__header .header__wrap .header__button.account {
    border-color: #27AE34;
    color: #27AE34;
}
.section__header .header__wrap .header__button.account a {
    color: #27AE34;
}
.menu__component .menu__my__book a {    
    color: #27AE34;
}
.section__header .header__wrap .header__button.cart {
    background: #27AE34;
}
.section__header .header__wrap .header__info .header__hotline.yellow a, .section__header .header__wrap .header__info .header__hotline.yellow p {
    color: #4DA1EE;
}
.footer-copyright {
    background-color: #27AE34;
}
.menu__component .menu__category .category__show__all {
    color: #27AE34;
}
.book__content .color-AA8B47 {
    color: #FF3D00;
}
.partner__wrap .partner__head .partner__title-vector {
    background-color: #27AE34;    
}
.printer-list-heading::before {
    background: #27AE34;
}
.home__page .banner__section {
    background-repeat: repeat;
    background: none;
}
.menu__component .menu__category .dropdown-menu .category__link.maintainHover {
    color: #27AE34!important;
    border-color: #27AE34;
}
.menu__component .menu__category .dropdown-menu .category__link.maintainHover .category__icon svg path {
    fill: #27AE34!important;
}
.menu__component .menu__category .dropdown-menu .popover .submenu__item .title::before {
    background: #27AE34;
}
.category__btn.d-flex.align-items-center {
    color: #27AE34;
}
.brcrumb {
    background-color: #fff;
}
.tabbar .nav-item-ct .nav-custom.active {
    background-color: #27AE34;
    color: #fff;
}
.filter__menu-box .box-languages__item .language.active {
    background-color: #27AE34;
}

    .filter__menu-box .box-languages__item .language.active .item-link {
        color: #fff;
}
.filter__menu-box .box-price__form {
    background: #27AE34;    
}
.menu__component .menu__category {
    background: #F9E45E;
}
.menu__component .menu__search .search__submit .button__icon {
    background: #F9E45E;
}
.menu__component .menu__search .search__submit .button__icon svg path{
    margin: auto;
    fill: #27AE34;
}
.login-wrap .login__email-btn {
    background-color: #27AE34;
}
.login-wrap .login__email-heading a {
    color: #27AE34;
}
.register-wrap .register__email-heading a {    
    color: #27AE34;
}
.register-wrap .register__email-btn {
    background-color: #27AE34;
}
.section__header .header__wrap .header__button .header-account__info .info-avatar__img {
    border: 2px solid #27AE34;
}
.change__password-content .form-group button {
    background: #27AE34;
}
.sidebar .sidebar__user .user__photo {
    border: 2px solid #27AE34;
}
.topic-headding .topic-box .box_item {    
    background-image: url(/img/cat-bg.svg);    
    background-color: #27AE34;
}
.collection-book .collection-slider .item-content__price span {
    color: #27AE34;
}
.menu__component .menu__category .dropdown-menu {
    background: #F9F9F9;
    border: 1px solid #E9E9E9;
}
.comment-box .comment__text .btn-submit a {
    background: #27AE34;
}
.comment-box .comment__title::before {
    background: #27AE34;
}
.component__pagination ul li a {    
    color: #27AE34;    
}
.component__pagination ul li.active {
    background-color: #27AE34;
}
.component__pagination ul li:hover {
    background-color: #27AE34;    
}
.component__pagination ul .pagination__list-btn a svg:hover rect {
    fill: #27AE34;
}
.footer .footer__content .list-sty .content-list__item a:hover {
    color: #27AE34;
}
.footer .footer__info .footer__content-list .content-list__item:hover {
    color: #27AE34;
}
.detail .contentBook .nav-tabs .nav-item .nav-link.active {
    border-bottom: 5px solid #27AE34!important;
}
.menu__component-mobile {
    background: #ffffff;
}
.section__header-mobile .header__wrap .header__button {
    color: #27AE34;
    border: 1px solid #27AE34;
    background: #fff;
}
.section__header-mobile .header__wrap .header__button svg path {
    transition: .3s ease;
    fill: #27AE34;
}
.section__header-mobile .header__wrap .header__button svg path {
    fill: #27AE34;
}
.topview-content .position-relative.active::before {    
    background: #27AE34;   
}
.checkout_mb .group_item .icon-item svg path {
    fill: #e1afb1;
}
.checkout_mb .icon-item.active svg path {
    fill: #27AE34;
}
.checkout_mb .group_item .icon-item {
    border: 1px solid #e1afb1;
    color: #27AE34;
}
.my-account-mb-main__dashboard .dashboard__box-img {   
    background: #27AE34;    
}
.login__mb .login__mb-btn button.mb__btn-btn {
    background-color: #27AE34;
}
.login__mb .login__mb-title a {
    color: #27AE34;
}
.resgiter__mb .login__mb-btn button.mb__btn-btn {    
    background-color: #27AE34;    
}
.resgiter__mb .resgiter__mb-title a {
    color: #27AE34;
}
.brcrumb__info-title {    
    color: #333;
}
.brcrumb__info-content .content__txt p {
    color: #333;
}
.author__section .author__wrap .author__heading-line {
    background: #27AE34;
}
.home-slider .owl-dots button.owl-dot.active {
    background-color: #e1afb1;
}

.section__header-mobile .header__wrap .header__button:hover {
    background: #27AE34;
}
.my-account-mb-main__user .sidebar__user-avatar .user__photo {
    border: 2px solid #e1afb1;
}
.author__section .author__wrap .author__box .author__list-avatar img {border-radius: inherit!important}
.book__content .border_bottom
{
	padding-top: 12px!important;
	margin-bottom: 0;
	padding-bottom: 12px!important;
}
.license{display:none}
.book__content {
    overflow: hidden;
}
.filter__menu-box .box-author .author-title, .filter__menu-box .box-classify__title, .filter__menu-box .box-price__title {
    font-weight: bold;
}
.author-list__more-list {
    background: #27ae341a!important;
    border: 1px solid #27ae3430!important;
    color: #27AE34!important;
    border-radius: 20px!important;
    padding: 5px 10px!important;
}
.home-slider-section {
  padding: 0;
  background: var(--Page-bg);
}

.download-app-btn {
  background: linear-gradient(180deg, #FF5C00 0%, #FD8F40 100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  border: none;
  height: 42px;
  padding: 0;
  line-height: 42px;
}

.right-banner {
  max-height: 260px;
  overflow: hidden;
  border-radius: 6px;
  padding: 0;
}

#home-slide .carousel-item.active img {
  height: 320px;
  width: auto!important;
  max-width: inherit;
}

#home-slide .carousel-item.active {
  border-radius: 6px;
  overflow: hidden;
}

.section {
  background: var(--Page-bg, #D4E9D3);
}

.green-card {
  padding: 10px 30px 24px;
  background: #27AE34;
  border-radius: 5px;
}

body {
  background: var(--Page-bg, #D4E9D3);
}

.module-heading-white {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
}

.module-heading-light {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  color: #111;
}

.cover-thumb-warp {
  width: 100%;
  padding-top: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
  height: 0;
}

.category-card-warper {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  height: 100%;
}

.green-card .category-title {font-size: 14px;}

.green-card .see-all-link svg path {
  stroke: #fff;
}

.green-card .see-all-link {
  color: #fff;
  font-size: .8rem;
}

.card-header-sand, body > div.wrapper > div.home__page > div:nth-child(3) > div > div > div.col-lg-9.col-sm-12 > div:nth-child(1) > div > div.book__content-title.d-flex.justify-content-between.align-items-md-center.border_bottom.pt-3 {
  background: #FFCE88!important;
  border-radius: 6px 6px 0 0!important;
  padding: 10px 20px!important;
  margin: 0 -30px;
}
.book__content .border_bottom h3{
	color:#333!important;
	font-weight: bold;
}
.book__content-title a{
	color:#333!important;	
	justify-content: space-around;
}
.gradient-news-grid-head a{
	display: none;
}
.book__content .color-AA8B47 {
  color: #FF5C00;
}

.item__infor-price .price {
  color: #FF5C00;
  font-size: 14px;
  font-weight: bold;
}

.discount-value-badge {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  z-index: 9;
  background: #FF5C00;
  border-radius: 100%;
  left: calc(100% - 40px);
  top: 5px;
}

.discount-value-text {
  font-size: 14px;
  color: #fff;
  line-height: 40px;
  text-decoration: none;
}

a, a:hover {
  text-decoration: none!important;
}

.book-item > a .cover-thumb-warp {
  margin-top: -40px;
}


.gradient-news-grid {
  border-radius: 8px;
  border: 1px solid var(--Line, #E9E9E9);
  background: var(--linear-card, linear-gradient(185deg, #D4EDFF 3.29%, #ECE7FB 51.05%, #FFF 95.91%));
}

.red-main-book {
  width: 100%;
  padding-top: 130%;
  background: #BC2129;
  border-radius: 5px;
  overflow: hidden;
}

.right-book-grid {
  border-radius: 5px;
  overflow: hidden;
}

img.cover-thumb {
  z-index: -1;
  position: relative;
  margin-top: -100%;
}


.menu__component a {
  display: block;
}

.menu__component {
  background: var(--Primarybg, #27AE34);
  padding: 8px 0;
}

.holine__info p {
  font-size: 12px;
  color: #fff;
  margin-bottom: 0;
}

.hotline__icon svg path {
  fill: #fff;
}

.holine__info {
  line-height: 1;
}

.holine__info a {
  color: #fff!important;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 13px;
}

.menu__component .menu__search {
  padding: 0 15px;
  max-width: 400px;
  flex: 1;
  border-radius: 5px;
  height: 37px;
  background: #f2f2f2;
  margin-right: 20px;
}

.menu__component .menu__search .search__submit {
  outline: 0;
  color: #fff;
  background: var(--Linear, linear-gradient(180deg, #FF5C00 0%, #FD8F40 100%));
  margin: 0;
  padding: 8px 15px;
  display: block;
  margin-right: -15px;
  border-radius: 0 6px 6px 0;
}

.search__submit i.fa-search {
  color: #ffffff;
}

.menu__component .menu__category.st {
  height: 100%;
  transition: .3s ease;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  background: none;
  width: inherit;
  padding: inherit;
  margin-right: inherit;
  position: relative;
}

.header-icon .active, .header-icon:hover, .menu__category.menu__category-index.st:hover {
  background: rgba(70,216,102,0.77);
}

.menu__component .menu__category .dropdown-menu {
  width: 100%;
  border-radius: 5px;
  margin: 0;
  border: none;
  min-width: 330px;
  position: absolute;
  left: -250px;
}

.menu__component .menu__category .dropdown-menu .popover {
  border: none;
  display: none;
  top: 0!important;
  width: calc(var(--container-width) - 360px);
  max-width: 100vw;
  border-radius: 0;
  height: auto!important;
}

@media (min-width: 1200px) {
  .container {
    max-width: var(--container-width, 1280px)!important;
  }
}

.gap-10 {
  gap: 10px;
}

.menu__category.menu__category-index.st {
  width: 42px;
  text-align: center;
}

.line {
  height: 32px;
  width: 1px;
  display: block;
  background: rgba(255,255,255,0.25);
  border-radius: 10px;
}

.header-icon {
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 36px;
  border-radius: 3px;
  position: relative;
}
.button__notification{
	top: 10px;
    right: 10px;
}
.menu__component .menu__component__wrap {
  height: 42px;
}

.header-account__info::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  top: -20px;
  left: 0;
  background-color: transparent;
}

.header__button:hover .header-account__info {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.header__button .header-account__info {
  position: relative;
  width: 264px;
  height: fit-content;
  background-color: #fefefe;
  top: 10px;
  border-radius: 5px;
  padding: 24px;
  z-index: 1025;
  border: 1px solid #d1d1d1;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
  transform: translateY(10px);
  left: -220px;
}

.header-account__info .info-inner::after {
  border-right: 10px solid transparent;
  border-bottom: 9px solid;
  border-bottom-color: #d1d1d1;
  margin-left: 0;
  top: -33px;
  z-index: -1;
}

.header-account__info .info-inner::after, .header-account__info .info-inner::before {
  content: "";
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 8px solid #fefefe;
  content: '';
  left: 92%;
  margin-left: 5px;
  position: absolute;
  top: -32px;
}

.header-account__info .info-inner {
  position: relative;
}

.header-account__info .info-list__item:not(:last-child) {
  border-bottom: 1px solid #d1d1d1;
}

.header-account__info .info-list__item {
  padding: 0;
}

.header-account__info .info-avatar {
  margin-bottom: 15px;
}

.header-account__info .info-avatar__img {
  margin-right: 12px;
  border-radius: 50%;
}

.header-account__info .info-list .item-icon {
  margin-right: 5px;
}

.header-account__info .info-list .item-icon__txt .item-link {
  color: #4f4f4f;
  display: inline-block;
}

.header-account__info .info-list .item-icon__txt .item-amount {
  font-weight: 700;
}


.menu__component .menu__category .dropdown-menu .category__link {
  color: #4f4f4f;
  display: block;
  transition: .3s ease;
  border-bottom: 1px solid #f2f2f2;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
}

.menu__component .menu__category .category__show__all {
  font-size: 14px;
  font-weight: 700;
  color: #27AE34;
  display: block;
  padding: 0;
}

.home-slider__item {
  overflow: hidden;
  height: 310px;
}

.home-slider-item {
  overflow: hidden;
  height: 130px!important;
  margin-bottom: 20px!important;
  border-radius: 5px;
}

.home-slider-item img {
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.home-slider-item:last-child {
  margin-bottom: 0;
}

.home-slider-item a {
  display: block;
  width: 100%;
}

.banner__section {
  height: 340px;
}

.container .book {
  position: relative;
  display: block;
  width: 400px;
  height: 550px;
  margin: 5% auto;
  border-radius: 4px 8px 8px 4px;
  background: linear-gradient(45deg, #DAD5DC 0%, #f2ebf4 100%);
  font-family: acumin-pro, sans-serif;
  -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
  -moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
  box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
  font-weight: 400;
  color: #2b2b2b;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
  -webkit-transform: rotate3d(0,1,0,35deg);
  -moz-transform: rotate3d(0,1,0,35deg);
  transform: rotate3d(0,1,0,35deg);
}

.container .book:hover {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.container .book > div, .container .front > div {
  display: block;
  position: absolute;
}

.container .front {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0,0,20px);
  -moz-transform: translate3d(0,0,20px);
  transform: translate3d(0,0,20px);
  z-index: 10;
}

.container .front > div {
  width: 400px;
  height: 550px;
}

.container .left-side {
  width: 100px;
  left: -50px;
  height: 550px;
  background-color: rgba(232,229,234);
  -webkit-transform: rotate3d(0,1,0,-90deg);
  -moz-transform: rotate3d(0,1,0,-90deg);
  transform: rotate3d(0,1,0,-90deg);
  border-radius: 3px;
}

.container .front > div {
  border-radius: 0 3px 3px 0;
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.container .front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.container .cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0px;
  width: 3px;
  background: rgba(0,0,0,0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.cover {
  background: linear-gradient(45deg, #DAD5DC 0%, #f2ebf4 100%);
}

.book-3d-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 500px;
  padding: 20px 0;
}

.book-3d-wraper .book-3d {
  width: 160px;
  height: 220px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.8s;
  transform: rotateY(35deg);
  transform-style: preserve-3d;
  left: 10px;
  background-size: 100% 100%;
  position: relative;
}

.book-3d-wraper .book-spine {
  content: '';
  position: absolute;
  width: 30px;
  height: 100%;
  transform-origin: left;
  background: url(side.jpg);
  background-position: center;
  transform: rotateY(90deg);
  background-size: 100% 100%;
}

.book-3d-wraper .book-3d .book-backcover {
  content: '';
  position: absolute;
  width: 160px;
  height: 220px;
  transform-origin: center;
  transform: rotateY(180deg) translateZ(30px);
}

.book-3d-wraper .book-3d:hover {
  transform: rotateY(0deg);
  z-index: 99999;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}

.book-3d-wraper .book-3d:active {
  transform: rotateY(180deg);
  z-index: 9999;
}

.book-3d-wraper .book-3d img {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 220px;
  max-width: inherit;
}

@media (min-width: 1200px) {
  .floating-shelve::after {
    background-image: url("shelves-float.png");
    height: 150px;
    width: 100%;
    display: block;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -45px;
  }
}

.floating-shelve::after {
  background-image: url("shelves-float.png");
  height: 150px;
  width: 100%;
  display: block;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -50px;
}

@media (max-width: 768px) {
  .floating-shelve::after {
    background-image: url("shelves-float.png");
    height: 100px;
    width: 130%;
    display: block;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -30px;
    margin-left: -20px;
  }
}

@media (max-width: 576px) {
  .floating-shelve::after {
    background-image: url("shelves-float.png");
    height: 80px;
    width: 150%;
    display: block;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media (max-width: 480px) {
  .floating-shelve::after {
    background-image: url("shelves-float.png");
    height: 80px;
    width: 150%;
    display: block;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -40px;
    margin-left: -30px;
  }
}

@media (max-width: 480px) {
  .floating-shelve {
    overflow: hidden;
  }
}

.book-3d-wraper .book-3d {
  position: relative;
  z-index: -1;
}

.book_3d_cl:hover {
  z-index: 999999!important;
}

.book_3d_cl:last-child:hover {
  z-index: 999999!important;
  left: 0;
}

@media (max-width: 480px) {
  .book_3d_cl:last-child:hover {
    z-index: 999999!important;
    left: -100px;
  }
}

@media (max-width: 360px) {
  .floating-shelve::after {
    margin-top: -40px;
  }
}

@media (max-width: 480px) {
  .floating-shelve::after {
    width: 150%;
    margin-top: -40px;
  }
}

.brcrumb {
  margin-bottom: 16px;
  background-color: unset;
  margin-top: 5px;
}

.brcrumb__list {
  padding: 0;
  margin-bottom: 5px;
}

.brcrumb__info {
  display: none;
}

.select-dropdown select {
  height: inherit;
}

.tabbar.bookshelves_3d {
  background: rgba(39,174,52,0.13);
}

.select-dropdown {
  max-width: 180px;
  padding: 0 10px;
  font-size: 13px;
}
button.search__submit .button__icon {display: none!important}
div.book__content-title.border_bottom > h3 {
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.item__infor-category {
  text-align: center;
  display: none;
}
.item__infor-category p {
  font-size: 12px;
  line-height: 1.4;
  margin-top: 5px;
}
.item__infor-vote {
  display: none;
}

.item__infor-title h6 {
  
}

.book__content-content > div.d-flex {
    justify-content: space-around!important;
}

.topview-content-heading {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.topview-content-heading h3 {
  font-size: 14px;
  
}

.topview-content-main-title, .topview-content-main-view {
  font-family: sans-serif;
}

.tab-content.list__tabs.mt-2 {
    padding: 0 15px;
}

.topview-content-main {
    width: 100%;
}

.section__header-mobile {
    background: #27AE34;
}

.home__section_sp.home_slider {
    padding: 10px;
}

.home-sliderMb {
    border-radius: 5px;
    overflow: hidden;
}

.section.mt-2.bg-white {}

form#frmMobileBook {
    border: 1px solid;
    border-radius: 5px;
}
.author__item .img__check{
    position: absolute;
    top: 0;
    right: 68px;
}

.section-dt.book__content .typical__slider .owl-nav .owl-prev,
.section-dt.book__content .typical__slider .owl-nav .owl-next {
  position: absolute;
  top: 110px;
  outline: 0;
}
.section-dt.book__content .typical__slider .owl-nav .owl-prev {
  left: 1px;
}
.section-dt.book__content .typical__slider .owl-nav .owl-next {
  right: 1px;
}

.wrapper__right .wrapper__right-book .content__item-infor .item__infor-title .element-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.BookDetailSection-preview-list-arrow img
{
	width:24px
}
.reg-btn, .login__email-forget{
	color: #27AE34;
}
.password__reset__page__wrap button{
	background: #27AE34 !important;
}
.home__page .banner__section {    
    background: #27ae3454;
}
.termsofuse__details img{
	width:100%;
}